<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Café</title>
    <meta name="description" content="Pagina Web de Blog de Cafe">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Prefetch -->
    
    <link rel="prefetch" href="nosotros.html" as="document">

    <!-- Preload -->
    
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Open+Sans&display=swap" crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Open+Sans&display=swap"
    rel="stylesheet">

</head>

<body>
    <header class="header">

        <div class="contenedor">

            <div class="barra centrar-texto">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin">Blog<span class="logo__nombre--bold">DeCafé</span></h1>
                </a>

                <nav class="nav">
                    <a href="nosotros.html" class="nav__enlace">Nosotros</a>
                    <a href="cursos.html" class="nav__enlace">Cursos</a>
                    <a href="contacto.html" class="nav__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto  centrar-texto">
            <h2 class="no-margin">Blog de café con consejos y cursos</h2>
            <p class="no-margin">Aprende de los expertos con las mejores recetas y consejos</p>
        </div>
    </header>

    <div class="contenedor contenido-principal">

        <main class="blog">

            <h2>Nuestro Blog</h2>

            <article class="entrada-blog">

                <div  class="entrada-blog__imagen">
                    <picture>
                        <source loading="lazy" srcset="img/blog1.webp" type="image/webp">
                        <img  src="img/blog1.jpg" alt="imagen cafe molido" loading="lazy">
                    </picture>
                </div>

                <div class="entrada-blog__contenido">
                    <h3 class="no-margin">Tipos de Grano de Cafe</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae laborum dolores
                        minima animi rem ipsum a provident maiores, cumque nemo aliquid necessitatibus ad itaque
                        culpa quam amet explicabo sapiente harum!</p>
                    <a class="boton" href="entrada.html">Leer Entrada</a>
                </div>

            </article>

            <article class="entrada-blog">

                <div  class="entrada-blog__imagen">
                    <picture>
                        <source loading="lazy" srcset="img/blog2.webp" type="image/webp">
                        <img src="img/blog2.jpg" alt="imagen cafe y apuntes" loading="lazy">
                    </picture>
                </div>

                <div class="entrada-blog__contenido">
                    <h3 class="no-margin">Tipos de Grano de Cafe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde earum, voluptate quos vitae
                        temporibus commodi consequatur amet sapiente maxime quas cumque sed eos debitis accusantium
                        tempore aspernatur odio, magnam esse?
                    </p>
                    <a class="boton" href="entrada.html">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada-blog">

                <div  class="entrada-blog__imagen">
                    <picture>
                        <source loading="lazy" srcset="img/blog3.webp" type="image/webp">
                        <img src="img/blog3.jpg" alt="cafe servido" loading="lazy">
                    </picture>
                </div>

                <div class="entrada-blog__contenido">
                    <h3 class="no-margin">Tipos de Grano de Cafe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde earum, voluptate
                        quos vitae
                        temporibus commodi consequatur amet sapiente maxime quas cumque sed eos debitis accusantium tempore
                        aspernatur odio, magnam esse?
                    </p>
                    <a class="boton" href="entrada.html">Leer Entrada</a>

                </div>
            </article>

        </main>
        <aside class="sidebar">

            <h2>
                Nuestros Cursos y Talleres
            </h2>
                <!-- unorder list -->
            <ul class="no-padding">

                <li class="widget-cursos">
                    <h3 class="no-margin">Tecnicas de extraccion de Café</h3>
                    <p class="widget-cursos__label">
                        Precio:
                        <span class="widget-cursos__info">Gratis</span>
                    </p>
                    <p class="widget-cursos__label">
                        Cupos:
                        <span class="widget-cursos__info">20</span>
                    </p>
                    <a class= "boton boton--cursos" href="cursos.html">Mas informacion sobre cursos</a>
                </li>

                <li class="widget-cursos">
                    <h3 class="no-margin">Recetas de café para principiantes</h3>
                    <p class="widget-cursos__label">
                        Precio:
                        <span class="widget-cursos__info">Gratis</span>
                    </p>
                    <p class="widget-cursos__">
                        Cupos:
                        <span class="widget-cursos__info">20</span>
                    </p>
                    <a class= "boton boton--cursos" href="cursos.html">Mas informacion sobre cursos</a>
                </li>

            </ul>

        </aside>
    </div>

    <footer class="footer">
        <div class="contenedor">

            <div class="barra centrar-texto">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin">Blog<span class="logo__nombre--bold">DeCafé</span></h1>
                </a>

                <nav class="nav">
                    <a href="nosotros.html" class="nav__enlace">Nosotros</a>
                    <a href="cursos.html" class="nav__enlace">Cursos</a>
                    <a href="contacto.html" class="nav__enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>

    <script src="js/modernizer.js"></script>
</body>

</html>
