<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="preload" href="css/styles.css" as="styles">
    <link rel="stylesheet" href="css/styles.css">
    <title>Blog de Café</title>
</head>

<body>
    <header class="header">

        <div class="contenedor">

            <div class="barra centrar-texto">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin">Blog<span class="logo__nombre--bold">DeCafé</span></h1>
                </a>

                <nav class="nav">
                    <a href="nosotros.html" class="nav__enlace">Nosotros</a>
                    <a href="cursos.html" class="nav__enlace">Cursos</a>
                    <a href="contacto.html" class="nav__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto  centrar-texto">
            <h2 class="no-margin">Blog de café con consejos y cursos</h2>
            <p class="no-margin">Aprende de los expertos con las mejores recetas y consejos</p>
        </div>
    </header>

    <main class="contenedor">

        <h2 class="centrar-texto">Sobre Nosotros</h2>

        <div class="bloque-nosotros">
            <div>
                <img class="bloque-nosotros__img" src="img/nosotros.jpg" alt="cafes decorados">
            </div>

            <div class="bloque-nosotros__texto">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit dolorum ullam inventore facere? Et similique eveniet unde, itaque ipsum amet, enim corrupti esse molestias debitis, ad corporis at accusantium in?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequuntur perferendis ratione mollitia repudiandae magni odit earum sequi fugit quo quaerat eum saepe dicta tenetur eveniet delectus, rerum alias officiis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores provident incidunt aperiam, magnam labore obcaecati. Amet aspernatur, aliquam magnam nesciunt placeat pariatur, asperiores molestias labore eveniet, est dicta itaque architecto?
                </p>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="contenedor">

            <div class="barra centrar-texto">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin">Blog<span class="logo__nombre--bold">DeCafé</span></h1>
                </a>

                <nav class="nav">
                    <a href="nosotros.html" class="nav__enlace">Nosotros</a>
                    <a href="cursos.html" class="nav__enlace">Cursos</a>
                    <a href="contacto.html" class="nav__enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>

    <script src="js/modernizer.js"></script>
</body>

</html>
